body {
    background-color: rgb(185, 140, 228);
}

.header {
    width: 100%;
    margin: 0;
}

.taskinput {
    width: 100%;
}

.buttoninput{
    width: 100%;
    margin: 0;
}

.inputheader {
    font-size: 48px;
    width: 100%;
    color: white;
    margin: 10px 0;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.addOne {
    height: 250px;
    background-color: rgb(194, 119, 70);
    border-radius: 10px;
}

#taskUl li {
    list-style-type: none;
    text-align: center;
    font-size: 24px;
    background-color: white;
}

.buttonLi {
    width: 79%;
    border: 0;
    margin: 0;
    background-color: white;
}

.buttonDelete {
    width: 20%;
    border: 0;
    background-color: white;
}

.buttonDelete:hover {
    transform: translateY(-2px);
    transition: transform 0.5s;
}

.buttonLi:hover {
    transform: translateY(-2px);
    transition: transform 0.5s;
}

.completedClass {
    text-decoration: line-through;
}